<div class="main" *ngIf="movieList.movies.length; else noMovies">
  <div class="main-header">
    <h1 class="main-header-title title">Movieland</h1>
    <input [(ngModel)]="searchString"
           type="text" 
           class="main-header-search" 
           placeholder="Поиск по названию"/>
  </div>
  <div class="main-movies">
    <movie *ngFor="let movie of movieList.movies | searchFilm: searchString; let i = index"
           (click)="changeMovie(movie.id)"
           [movie]="movie"
           class="movie-block">
    </movie>
  </div>
</div>

<ng-template #noMovies>
  <div class="loader">
    <img src="/static/img/loading.svg"/>
  </div>
</ng-template>